:root {
  --primary: #31343D;
  --secondary: #91CBCD;
  --tertiary: #EDEEF6;
}

body {
  background-color: var(--tertiary);
}

header {
  position: fixed;
  width: 100%;
  background-color: var(--primary);
  justify-content: space-between;
  align-items: center;
  padding: 3px;
  padding-left: 0px;
  display: flex;
}

nav ul {
  display: flex;
  min-width: 420px;
  justify-content:space-around;
}

nav ul li {
  padding: 2px 5px;
  border: 0px;
  border-bottom: 3px var(--secondary) solid ;
}

nav a {
  display: inline;
  text-decoration: none;
  font-size: 1.25rem;
  margin-top: 10px;
  margin-bottom: 10px;
  color: var(--secondary);
}

main {
  padding: 70px 0px 0px 0px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

img #hero{
  object-fit: none;
  object-position: 0% 100%;
}

.mainGrid {
  margin: 10px;
  display: grid;
  width: 100%;
  grid-template-columns: 360px auto 360px;
  gap: 20px;
}

.lBar {
  text-align: right;
  border-right: var(--primary) solid 5px;
  padding-right: 5px;
}

.content {

}

article {
  margin: 5px;
  border: var(--secondary) solid 5px;
}

.mainContent {
  width: 400px;
}

article div {
  /* display: inline; */
  background-color: var(--secondary);
  /* display: relative; */
}

section article {
  
  flex: 1 0 400px;
}

section {
  display: flex;
  flex: 5;
  flex-wrap: wrap;
}

.rBar {
  height: 100px;
}

h1 {
  text-align: Left;
  color: var(--primary);
  background-color: var(--secondary);
  display:inline-block;
  padding: 2px 10px 2px 50px;
  font-size: 2.5rem;
  margin: 10px 0px;
}

h2 {
  color: var(--primary);
  display:inline-block;
  font-size: 2rem;
  margin: 10px 0px;
}

h3 {
  text-align: center;
  font-size: 1.5rem;
  color: var(--secondary);
  padding: 5px;
}

p {
  color: var(--primary);
}

footer {
  /* position: fixed;
  bottom: 0px;
  width: 100%; */
  background-color: var(--primary);
}