:root {
  --primary: #31343D;
  --secondary: #91CBCD;
  --tertiary: #EDEEF6;
}

body {
  background-color: var(--tertiary);
}

header {
  position: fixed;
  width: 100%;
  background-color: var(--primary);
  justify-content: space-between;
  align-items: center;
  padding: 3px;
  padding-left: 0px;
  display: flex;
}

nav ul {
  display: flex;
  min-width: 420px;
  justify-content:space-around;
}

nav ul li {
  padding: 2px 5px;
  border: 0px;
  border-bottom: 3px var(--secondary) solid ;
}

nav a {
  display: inline;
  text-decoration: none;
  font-size: 1.25rem;
  margin-top: 10px;
  margin-bottom: 10px;
  color: var(--secondary);
}

main {
  padding: 70px 0px 0px 0px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

img #hero{
  object-fit: nonezz;
  object-position: 0% 100%;
}

h1 {
  text-align: Left;
  color: var(--primary);
  background-color: var(--secondary);
  display:inline-block;
  padding: 2px 10px 2px 50px;
  font-size: 2.5rem;
  margin: 10px 0px;
}

p {
  color: var(--tertiary);
  text-align: center;
}

h3 {
  text-align: center;
  font-size: 1.5rem;
  color: var(--secondary);
}

.code {
  border-color: var(--tertiary);
  border-style: dashed;
}

.codeTitle {
  border-style: solid;
  border-color: var(--tertiary);
  background-color: var(--primary);
  border-radius: 10px;
}

footer {
  /* position: fixed;
  bottom: 0px;
  width: 100%; */
  background-color: var(--primary);
}